html, body{
    margin:0px;
    padding:0px;
}
.cover{
    width:100%;
    height:100%;
    display: grid;
    place-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.profile-cover{
    width:80%;
    display: grid;
    place-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 1rem;
    box-shadow: 1.5px 1.5px 1.5px 1.5px grey;
}
.profile-cover img{
    width: 15rem;
    height: 15rem;
}
.profile-cover h1{
    color: navy;
    width: 25%;
    text-align: center;
    margin-top: 1rem;
}
.profile-cover a{
    color: black;
    text-decoration: none;
}
.profile-cover a h3{
    margin-top: 0px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about{
    width: 35%;
}
.about h2{
    margin-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about hr{
    margin-top: -0.5rem;
    color: darkturquoise;
}
.about p{
    width: 95%;
    margin-left: 2.5%;
}
.address h2{
    text-align: end;
}
.toggle{
    width: 25%;
    display: grid;
    place-items: center;
}
.nav{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
.nav p{
    font-size: large;
    cursor: pointer;
}
.toggle ul{
    display: grid;
    place-items: center;
    padding-left: 0px;
}
.toggle li{
    list-style: none;
}
.toggle h4{
    margin: 0px;
}
.toggle hr{
    color: red;
    width: 20%;
    margin-left: 25%;
    margin-top: -2rem;
}
.changer{
    width: 30% !important;
    margin-left: 45% !important;
}
.total{
    width: 100%;
    height: 100vh;
    background-color: #ccc;
    text-align: center;
}
.top{
    background-color: teal;
    color: white;
    height: 40%;
    display: grid;
    place-content: center;
    text-align: center;
}
.top span{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-around;
}
.data{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
th, td{
    border: 1px solid black;
    padding: 0.5rem 0px 0.5rem 0px;
}
td{
    padding: 0px;
    border: 0.5px solid black;

}
.data table{
    width: 85%;
    border-spacing: 0px;
    border: 1px solid black;
}
.dopple{
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background-color: turquoise;

}
.dopple ul{
    display: flex;
    list-style: none;
    width: 30%;
    font-size: larger;
    align-items: center;
    justify-content: space-around;
    padding-left:0px;
}
.dopple a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 650px) {
    .cover{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .profile-cover{
        width: 90%;
    }
    .about{
        width: 80%;
    }
    .toggle{
        width: 80%;
    }
    .dopple ul{
        width: 60%;
    }
    .top{
        justify-items: center;
    }
    .top span{
        width: 75%;
    }
}